BODY {
  background: black;
}
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&family=Roboto:ital,wght@0,300;0,400;1,300&display=swap');
 {
      background: black;
      }
.genban {
  width: 300px;
  margin: auto;
}
.preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background: #303030;
  z-index: 1001;
}

.preloader__image {
  position: relative;
  top: 50%;
  left: 0%;
  width: 70px;
  height: 70px;
  margin-top: -35px;
  margin-left: -35px;
  text-align: center;
  animation: preloader-rotate 2s infinite linear;
}

@keyframes preloader-rotate {
  100% {
    transform: rotate(360deg);
  }
}

.loaded_hiding .preloader {
  transition: 0.3s opacity;
  opacity: 0;
}

.loaded .preloader {
  display: none;
}
#way3 {
  background: black;
  background-image: image();
}
.tasty {
  background-image: url(secback.jpeg);
}
#firefive {
      color:white;
      font-weight: bold;
                }
.genbild1 {
      border-radius: 100px;
      animation: rotation 30s 0s infinite linear;
      }
@keyframes rotation {
      0% {
      transform: rotate(0);
      }
      100% {
      transform: rotate(360deg);
      }
      }
.partytop {
  margin: 0;
}
.genbild2 {
border-radius: 100px;
  animation: rotateZwei 30s 0s infinite linear;
}
@keyframes rotateZwei {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-360deg);
  }
}
.genbild3 {
border-radius: 100px;
  animation: rotateDrei 30s 0s infinite linear;
}
@keyframes rotateDrei {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.obertitle {
      margin-top: 0px;
      text-align: center;
      font-family: 'Raleway', sans-serif;
      color: transparent;
      background: url(1.jpg);
      -webkit-background-clip: text;
      animation: animate 30s infinite linear;
      font-size: 35px;
}
.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid rgba(150, 150, 150, 0.2);
  border-radius: 50%;
  border-top-color: rgba(150, 150, 150);
  margin: auto;
  animation: loading 2s 0s infinite ease-in-out;
}
#subfeasttext {
  margin-top: 0px;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  color: #fff;
}
.vacdeal {
  margin: auto;
  max-width: 300px;
  max-height: 150px;
  font-size: 14px;
  text-align: left;
  font-family: 'Raleway', sans-serif;
  color: white;
}
.thelist {
margin: auto;
  font-size: 15px;
  max-width: 300px;
  max-height: 150px;
  text-align: left;
  font-family: 'Raleway', sans-serif;
  color: #fff;
}
#infovac {
  margin-top: 0px;
  font-size: 20px;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  color: #fff;
}
@keyframes loading {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animate {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 100%;
  }
}
#logotext {
      font-family: 'Raleway', sans-serif;
      font-size: 33px;
      text-align: center;
      color: white;
}
#IP_cellar {
      left: 0; bottom: 0;
      padding: 10px;
      background: black;
      width: 100%;
      margin: auto;
      color: white;
      font-size: 12px;
      text-align: center;
      font-family: 'Raleway', sans-serif;
}
  #kappe {
      border: 0px;
      border-color: black;
      align="center";
}
.firethree > li {
      font-family: fantasy;
}
#firesix {
      border: 2px. solid white;
}
#bestseller {
      border-color: #2c2c2c;
      width: 200px;
      color: white;
      margin: auto;
}
#seller {
      font-size: 20px;
      font-family: 'Raleway', sans-serif;
      text-align: right;
}
#selnerin {
      text-align: left;
      font-family: 'Raleway', sans-serif;
      font-size: 20px;
      color: #999999;
}
#worktime {
  font-family: 'Raleway', sans-serif;
  color: white;
  text-align: left;
  margin: auto;
}
.timetowork {
  color: white;
  font-family: 'Raleway', sans-serif;
  text-align: center;
}
#seitetext_1 {
      font-size: 35px;
      color: white;
      font-family: 'Raleway', sans-serif;
      text-align: center;
}
#dreitexttt {
      color: white;
      text-align: left;
      font-size: 12px;
      font-family: 'Raleway', sans-serif;
      font-variant-caps: small-caps;
}
.generalpusher {
  margin: auto;
  text-align: center;
  transition: 0.5s;
}
.generalpusher:hover {
  transform: scale(1.1);
}
.photoway1 {
      width: 350px;
      display: block;
      margin: 0 auto;
      border-radius: 15px;
}
#waytable {
      margin: auto;
      color: white;
      font-family: 'Raleway', sans-serif;
}
#thewaykeeper {
  font-size: 15px;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  color: white;
}
.keeper_s {

}
#foodobertext {
      color: white;
      font-family: 'Raleway', sans-serif;
      font-size: 35px;
      font-weight: bold;
      text-align: center;
}
#foodtable {
      color: white;
      border-collapse: collapse;
      border-color: black;
      weight: 700px;
      margin: auto;
      font-size: 12px;
      font-family: 'Raleway', sans-serif;
}
#fdt1 {
      background: #191919;
      color: white;
      font-family: 'Raleway', sans-serif;
      font-size: 15px;
}
.pusherdrop {
  text-align: center;
  margin: auto;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin: auto;
  text-align: center;
  transition: 0.5s;
}
.dropdown:hover {
  transform: scale(1.1);
}
.photodrop1 {
  text-align: center;
}
.dropcontent {
  text-decoration: none;

  margin: auto;
  display: none;
}
.dropcontent a {
  text-align: center;
  margin: auto;
  text-decoration: none;
  display: block;
}
.pusherdrop:hover .dropcontent { display: block;}
.photodrop1 {
  display: none;
  margin: auto;
  text-align: center;
  transition: 0.5s;
}
.photodrop1:hover {
  transform: scale(1.1);
}

#hf2 {
  background: #191919;
  text-align: center;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
}
.waygen {
      color: white;
      font-family: 'Raleway', sans-serif;
      text-align: center;
      font-size: 35px;
}
/*ПЕРВОЕ ОКНО*/
.wind {
      position: relative;
      display: inline-block;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
      font-family: 'Raleway', sans-serif;
      color: white;
}
#piPie {
      font-size: 12px;
}
.wind .uptext1 {
      visibility: hidden;
      width: 160px;
      background-color: white;
      color: black;
      text-align: center;
      border-radius: 6px;
      padding: 8px 0;
      position: absolute;
      z-index: 1;
      bottom: 125%;
      left: 50%;
      margin-left: -55%;
}
.wind .uptext1::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: white transparent transparent transparent;
}
.wind .show {
      visibility: visible;
      -webkit-animation: fadeIn 2s;
      animation: fadeIn 2s;
}
@-webkit-keyframes fadeIn {
      from {opasity: 0;}
      to {opasity: 1;}
}
@keyframes fadeIn {
      from {opasity: 0;}
      to {opasity: 1;}
}
.razer {
      position: relative;
      display: inline-block;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
      font-family: 'Raleway', sans-serif;
      color: white;
}
#colPie {
      font-size: 12px;
}
.razer .getter1 {
      visibility: hidden;
      width: 160px;
      background-color: white;
      color: black;
      text-align: center;
      border-radius: 6px;
      padding: 8px 0;
      position: absolute;
      z-index: 1;
      bottom: 125%;
      left: 50%;
      margin-left: -55%;
}
.razer .getter1::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: white transparent transparent transparent;
}
.razer .show {
      visibility: visible;
      -webkit-animation: fadeIn 1s;
      animation: fadeIn 1s;
}
@-webkit-keyframes fadeIn {
      from {opasity: 0;}
      to {opasity: 1;}
}
@keyframes fadeIn {
      from {opasity: 0;}
      to {opasity: 1;}
}
.honey {
      position: relative;
      display: inline-block;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
      font-family: 'Raleway', sans-serif;
      color: white;
}
#goal {
      font-size: 12px;
}
.honey .cap {
      visibility: hidden;
      width: 160px;
      background-color: white;
      color: black;
      text-align: center;
      border-radius: 6px;
      padding: 8px 0;
      position: absolute;
      z-index: 1;
      bottom: 125%;
      left: 50%;
      margin-left: -55%;
}
.honey .cap::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: white transparent transparent transparent;
}
.honey .show {
      visibility: visible;
      -webkit-animation: fadeIn 1s;
      animation: fadeIn 1s;
}
@-webkit-keyframes fadeIn {
      from {opasity: 0;}
      to {opasity: 1;}
}
@keyframes fadeIn {
      from {opasity: 0;}
      to {opasity: 1;}
}
.genfeasttext {
      text-align: center;
      color: white;
      font-size: 40px;
      font-family: 'Raleway', sans-serif;
}
